@use "../abstracts/abstracts" as *;
@use "../base/base" as *;

.cicler {
    background: $gold-fallback;
    background: $gold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}