@use "../abstracts/abstracts" as *;
@use "../base/base" as *;


.label-stick {

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: toRem(10.5);
        background: rgba(255, 255, 255, 0.22);
        backdrop-filter: blur(15px);;
        border-radius: $big-radius;
    }


    &__play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    &___image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.22);
        backdrop-filter: blur(15px);;
        border-radius: $big-radius;
    }

    &__badge {
        padding: toRem(6) 0 toRem(6) toRem(14.5);
        display: flex;

        &--star {
            padding: toRem(6);
        }

        &--play-button {
            padding: toRem(0);
            padding: toRem(12);
            position: relative;


            &::after {
                position: absolute;
                display: inline-block;
                content: " ";
                width: 50%;
                height: 50%;
                top: 50%;
                left: 50%;
                background: $gold-fallback;
                background: $gold;
                border-radius: $big-radius;
                transform: translate(-50%, -50%);
                z-index: map-get($map: $z-index, $key: 'negative-light-weight');
            }
        }
    }

    &__text {
        padding: toRem(6) toRem(12) toRem(6) 0;
        p {
            font-family: $font-family-base;
            line-height: toRem(32);
            font-weight: 500;
            font-size: toRem(18);
            color: $white;
            margin: 0;
            letter-spacing: toRem(0.02);
        }
    }
}