@use "../abstracts/abstracts" as *;
@use "../base/base" as *;
.logo-section {
    max-width: map-get($map: $container-max-width, $key: 'md');
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(map-get($map: $breakpoints, $key: 'sm')) {
        flex-direction: column;
        gap: toRem(25);
    }
}