@use "../abstracts/abstracts" as *;
.intro {
    @include section-padding;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include respond(map-get($map: $breakpoints, $key: 'md')) {
        &__wrapper {
            justify-content: center;
        }
     
    }

}