@use "../abstracts/abstracts" as *;
@use "../base/base" as *;

.main-logo {
    font-family: $font-family-base;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        max-width: 100%;
        max-height: 100%;
        border-radius: $big-radius;
        background: $primary-color;
        font-size: toRem(18);
        color: $white;
          
        @include respond(map-get($map: $container-max-width, $key: 'md')) {
            z-index: map-get($map: $z-index, $key: 'light-weight');
        }   

    }

    &__text {
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        line-height: $line-height-base;
        margin-left: toRem(15);
        font-weight: 800;
        font-size: toRem(18);
        letter-spacing: 0.1rem;
        color: $white;
          
        @include respond(map-get($map: $container-max-width, $key: 'md')) {
            display: none;
        }   

    }

    &--light {
        
        svg {
            background: $gray;
            color: $primary-color;
        }

        .main-logo__text {
            color: $primary-color;
        }
    }
}