@use "../abstracts/abstracts" as *;

.wrapper {
    max-width: map-get($map: $container-max-width, $key: 'md');
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &__group {
        display: flex;
        justify-content: space-between;
        gap: toRem(50);
        flex-wrap: wrap;
    }
}