$primary-color:#0C111F;
$white: #ffffff;

$body-color: $primary-color;
$body-bg: $white;
$gold: linear-gradient(135deg, #F9EC7D 0%, #F5B100 100%);
$purple: linear-gradient(135deg, #8482FF 0%, #7723FE 100%);;