$primary-color:#0C111F;
$secodary-color:#E0E0E0;
$white: #ffffff;
$black: #000000;
$gray: rgba(12, 17, 31, 0.08);;
$light-gray: #828282;
$gold: linear-gradient(90deg, rgba(249,228,126,1) 0%, rgba(248,214,87,1) 35%, rgba(246,195,42,1) 100%);
$gold-fallback: rgb(249,228,126);

$body-color: $primary-color;
$body-bg: $white;
$gold: linear-gradient(135deg, #F9EC7D 0%, #F5B100 100%);
$purple: linear-gradient(135deg, #8482FF 0%, #7723FE 100%);;