$primary-color:#0C111F;
$secodary-color:#E0E0E0;
$white: #ffffff;
$black: #000000;
$gray: rgba(12, 17, 31, 0.08);;
$light-gray: #828282;

$body-color: $primary-color;
$body-bg: $white;
$gold: linear-gradient(135deg, #F9EC7D 0%, #F5B100 100%);
$purple: linear-gradient(135deg, #8482FF 0%, #7723FE 100%);;