@function toRem($value) {
    $remValue: calc($value / 16) + rem; 
    @return $remValue;
}

@mixin respond($breakpoint) {  
    @media only screen and (max-width: $breakpoint) {

        @content;

    }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section-padding {
    padding: toRem(50) 0;
}