// Opacity 
$opacity-6: 0.6;
$opacity: $opacity-6;

// Radius
$big-radius: 100px;
$medium-radius: 40px;
$small-radius: 25px;
$extra-small-radius: 6px;


// Breakpoints
$breakpoints: (
    xs: 0, 
    sm: 600px, // mobile landscape, tablet (portrait)
    md: 1024px, // chromebooks, ipad pro (portrait), tablet (landscape)
    lg: 1600px, // most laptops and desktops
    xl: 2048px // 2k and up
);

$container-max-width: (
    xs: 480px, 
    sm: 960px,
    md: 1240px, // 1280px
    lg: 1920px,
    xl: 3840px
);


// z-index 

$z-index: (
    light-weight: 1,
    medium-weight: 10,
    heavy-weight: 100,
);