@use "../abstracts/mixins" as *;

// Inter Regular
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: sans-serif;
}

// Inter Regular
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/static/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: sans-serif;
}

// Inter Bold
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: sans-serif;
}

// Inter Extra Bold
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-display: sans-serif;
}


// Mada Regular
@font-face {
	font-family: 'Mada';
	src: url('/fonts/Mada/Mada-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: sans-serif;
}


// Mada Bold
@font-face {
	font-family: 'Mada';
	src: url('/fonts/Mada/Mada-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: sans-serif;
}



// Montserrat Bold
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')  format("opentype");
	font-weight: 400;
	font-display: sans-serif;
}

// Montserrat Bold
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')  format("opentype");
	font-weight: 700;
	font-display: sans-serif;
}

$font-family-base: 'Inter', sans-serif;
$font-family-secondary: 'Mada', sans-serif;
$font-family-third: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: toRem(36);
$line-height-small: toRem(32);